/* body{
    background-image: url(./picturer.png);
    height: 100%;
} */
/* 
#picturer{
    width: 100%;
    height: 100%;
} */

body{
    background-image: url("./picturer.png");
    background-color: blueviolet;
}

