body{
    background-image: url(./picturer.png);
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 1000px; */
}


/* img{
    display: flex;
    z-index:-1;
    height: 800px;
} */
 #myForm{
    margin-right: 80%;
    margin-top: 15%;
    color: aliceblue;
    
 }